<nb-card class="chat">
  <nb-card-body class="messages">
    <h3>Chats</h3>
    <ol class="chat" #scrollMe [scrollTop]="scrollMe.scrollHeight" *ngIf="messages.length > 0">
      <li [ngClass]="{'self': message.from == name , 'other': message.from != name }" *ngFor="let message of messages">
        <div class="msg">
          <div class="user">{{ message.from }}</div>
          <p> {{ message.message }} </p>
          <!--          <time>{{ message.timestamp }}</time>-->
        </div>
      </li>
    </ol>
  </nb-card-body>
  <nb-card-footer>
    <div *ngIf="name">
      <form [formGroup]="form">
        <div>
          <input nbInput
                 fullWidth
                 type="text"
                 placeholder="Your message"
                 formControlName="message"
                 #msgInp>
        </div>
        <div class="chat-buttons">
          <button nbButton
                  size="tiny"
                  [disabled]="!form.valid"
                  (click)="sendMessage()">
            Send
          </button>
        </div>
      </form>
    </div>
    <div *ngIf="!name">
      <p>Please Login to Chat</p>
    </div>
  </nb-card-footer>
</nb-card>
