<nb-layout>
  <!--  <nb-layout-header>Awesome Crypto Stuff</nb-layout-header>-->
  <nb-layout-column class="colored-column-warning">
    <app-chat></app-chat>
  </nb-layout-column>

  <nb-layout-column class="colored-column-danger">
    <nb-card class="chart">
      <nb-card-body class="chart-body">
        <div class="tradingview-widget-container">
          <div id="tradingview_bac66"></div>
        </div>
      </nb-card-body>
    </nb-card>
    <nb-card class="headline-card">
      <nb-card-body>
        <nb-list>
          <nb-list-item *ngFor="let hr of headlinesResults">
            <a href="{{ hr.url }}" target="_blank">{{ hr.title }}</a>
            <code>({{ hr.pubDate }}-{{ hr.pubTime }})</code>
          </nb-list-item>
        </nb-list>
      </nb-card-body>
    </nb-card>
  </nb-layout-column>
</nb-layout>
